@mixin default-bg-props {
  $start-path: '../../media/images';
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin global-icon-bg($image) {
  @include default-bg-props;
  $start-path: #{$start-path}#{'/global/'};
  background-image: url(#{$start-path}#{$image});
}

@mixin page-icon-bg($image, $page) {
  @include default-bg-props;
  $start-path: #{$start-path}#{'/pages/'}#{$page#{'/'}};
  background-image: url(#{$start-path}#{$image});
}
