@import './vendor/normalize';
@import './vendor/fonts';
@import './_partials/_settings';
@import './_partials/_mixins';

* {
  box-sizing: border-box;
}

html, body, #root, #App {
  // font-family: $Lobster;
  height: 100%;
  width: 100%;
}

// Page defaults
#Home {
  height: 100%;
  width: 100%;
}
